# Installation Verification

After eclipse was restarted you should see the following tools in your toolbar:

<style>
    img[alt=tomcat-toolbar-fragment], img[alt=devrock-toolbar-fragment] {
        height: 4em;
    }
</style>

Tomcat Tools

![tomcat-toolbar-fragment](./images/tomcat-toolbar-fragment.png "Tomcat Toolbar Fragment")

Devrock Tools

![devrock-toolbar-fragment](./images/devrock-toolbar-fragment.png "Devrock Toolbar Fragment")

This concludes this tutorial.

Have fun!

